#monthly-result-list {
    border: solid #468fc091;
}

#fx-logger-logo {
    width: 600px;
}

.btn-warning-outline {
    background-color: transparent;
    border-color: orange;
    color: gray;
}

.btn-danger-outline {
    background-color: #f7c3ce69;
    border-color: #f57b7b;
    color: #f57b7b;
}

.btn-success-outline {
    background-color: #dff0d8;
    border-color: #9d9d9d;
    color: #337ab7;
}

#search-area {
  border-bottom: solid #468fc091;
}

#search-area label, #search-area input, #search-area select {
  margin-left: 10px;
  margin-right: 5px;
}

#input-area {
  border-bottom: solid powderblue;
  padding: 10px;
}

.col-sm-12, #result-summary {
  padding: 10px;
}
