#monthly-result-div {
    border: solid #468fc091;
    margin-right: 10px;
    margin-left: 40px;
    padding-left: 10px;
    padding-top: 15px;
}

#fx-logger-logo {
    width: 700px;
    height: 400px;
}

#search-area {
    border: solid #468fc091;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.btn-warning-outline {
    background-color: transparent;
    border-color: orange;
    color: gray;
    border-width: medium;
}

.btn-danger-outline {
    background-color: #f7c3ce69;
    border-color: #f57b7b;
    color: #f57b7b;
}

.btn-success-outline {
    background-color: #dff0d8;
    border-color: #9d9d9d;
    color: #337ab7;
}

label, input, select, textarea {
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#input-area {
  margin-top: 10px;
  border-top: solid #f5afae;
  border-bottom: solid #e89393;
  padding: 10px;
}

#result-summary-div {
  font-size: 18px;
}

#result-summary-div span{
  padding-right: 170px;
}

.col-sm-12 {
  padding: 10px;
}

.modal-header {
  background-color: powderblue;
}
